body {
  /* background: rgb(182,186,194); */
  background: rgb(176,171,161);
  /* background: rgb(230,230,230);
  background-image: linear-gradient(rgb(230,230,230), rgb(182,186,194)); */
  background-image: url(bg10.jpg), linear-gradient(rgba(204,208,216,1) 100vh, rgb(176,171,161));
  background-size: 1200px, cover;
  background-repeat: repeat-x;
  font-family: 'Noto Sans', sans-serif;
  /* font-size: 82%; */
  font-size: 1vh + 0.5vw;
 }
.blocktext {
  margin-left: min(10vw, 50px);
  width: min(50vw, 270px);
}
.question {
  width: 60vw !important;
}
.sweep_right {
  animation: sweep-details-from-left 0.09s ease-in-out;
}
.fade_in {
  animation: fade-in 0.04s ease-in-out;
}
u{
  text-decoration-color: rgb(221,34,59);
}
button {
  background-color: rgb(60,60,60);
  border: none;
  color: rgb(210,210,210);
  padding: 1em 2em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 4px;
  box-shadow: 0px 4px 10px 3px rgba(100,100,100,0.4);
}
button:hover {
  transition: box-shadow 0.5s;
  /* transition: padding 3s; */
  box-shadow: 0px 4px 10px 3px rgba(100,100,100,0.75);
  padding: 1em 2.05em;
}
.red_button {
  background-color: rgb(221,34,59);
  color: rgb(230,220,220);
}
.white_button {
  background-color: rgb(230,220,220);
  color: black;
}
.error_msg {
  color: rgb(221,34,59);
}
@media screen and (max-width: 500px) {
  body {
    background-size: 900px, cover;
    background-position: 20% 0%;
    font-size: min(1.8vh, 12px);
   }
  .blocktext {
    margin-left: min(5vw, 20px);
    width: min(80vw, 150px);
  }
  button {
    font-size: 12px;
  }
}
@media screen and (min-width: 1200px) {
  body {
    background-size: 100vw, cover;
    background-position: 0% 0%;
   }
  .blocktext {
    margin-left: min(10vw, 50px);
    width: min(40vw, 300px);
  }
}
@keyframes sweep-details-from-left {
  0%    {opacity: 0; margin-left: -20vw}
  100%  {opacity: 1; margin-left: 0vw}
}
@keyframes fade-in {
  0%    {opacity: 0; margin-left: -10vw;}
  100%  {opacity: 1; margin-left: -10vw;}
}
::selection {
  color: rgb(221,34,59); 
  background: rgb(60,60,60);
}
.details {
  color: rgb(60,60,60);
}
details[open] summary ~ * {
  animation: sweep-details-from-left 0.1s ease-in-out;
}
/* .details::first-letter {
  color: black; 
  font-size: 120%;
  margin-left: 1em;
} */