body {
  --background_main: rgba(210,195,190,0.75);
  --background_secondary: rgb(204,208,216);
  --background_details: rgba(209, 207, 206, 0.75);
  --highlight: rgb(221,34,59);
  --dark: rgb(60,60,60);
  --text_color: black;
  --text_alternate: rgb(230,230,230);
  --text_question: rgb(30,20,20);
  --highlight_button_text: rgb(230,220,220);
  --inactive_shadow: rgba(100,100,100,0.4);
  --blurry-background: rgba(209, 180, 180, 0.75);
  --active_shadow: rgba(100,100,100,0.75);
  --hire_me_text: rgba(99, 8, 185,0.7);
  background: var(--background_main);
  background-image: url(bg10sm.jpg);
  background-size: 1200px, cover;
  background-repeat: repeat-x;
  font-family: 'Noto Sans', sans-serif;
  height: 100vh;
  font-size: 1vh + 0.5vw;
 }
.blocktext {
  margin-left: min(10vw, 50px);
  width: min(50vw, 250px);
}
.question {
  width: 75vw !important;
  font-size: 120%;
  font-style: italic;
  text-decoration: none;
  color: var(--text_question);
}
.sweep_right {
  animation: sweep-details-from-left 0.09s ease-in-out;
}
.sweep_right_landing {
  animation: sweep-details-from-left-landing 0.4s ease-in-out;
}
.sweep_left_landing {
  animation: sweep-details-from-right-landing 0.4s ease-in-out;
}
.fade_in {
  animation: fade-in 0.04s ease-in-out;
}
.sweep_up {
  animation: sweep-from-bottom 1s ease-in-out;
}
u{
  text-decoration-color: var(--highlight);
}
button {
  background-color: var(--dark);
  border: none;
  color: var(--text_alternate);
  padding: 1em 2em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: min(16px, 115%);
  border-radius: 4px;
  box-shadow: 0px 4px 10px 3px var(--inactive_shadow);
}
button:hover {
  transition: box-shadow 0.5s;
  box-shadow: 0px 4px 10px 3px var(--active_shadow);
  padding: 1em 2.05em;
}
.landing a:hover {
  transition: box-shadow 0.5s;
  box-shadow: 0px 4px 10px 3px var(--active_shadow);
  padding: 1em 2.05em;
}
.red_button {
  background-color: var(--highlight);
  color: var(--highlight_button_text);
}
.white_button {
  background-color: var(--highlight_button_text);
  color: var(--text_color);
}
.direction_button{
  margin-top: 0.7em;
  margin-bottom: 0.7em;
  font-size: 100%;
  padding: 0.5em 1.5em;
  box-shadow: 0px 2px 5px 2px var(--inactive_shadow);
}
.direction_button:hover {
  transition: box-shadow 0.5s;
  box-shadow: 0px 2px 5px 2px var(--active_shadow);
  padding: 0.5em 1.5em;
}
.landing_button {
  background-color: var(--dark);
  border: none;
  color: var(--text_alternate);
  padding: 1em 2em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: min(30px, 110%);
  /* font-weight: bold;
  font-style: italic; */
  border-radius: 4px;
  box-shadow: 0px 4px 10px 3px var(--inactive_shadow);
  /* font-size: calc(10px + 3vw);
  padding: 0.3em 0.6em;
  border-radius: 0.3em;
  box-shadow: 0px 2px 5px 2px black; */
  border: 1.3px solid var(--highlight);
}
.landing_button:hover {
  transition: box-shadow 0.5s;
  padding: 1em 2em;
  box-shadow: 0px 4px 10px 3px var(--active_shadow);
}
div.landing {
  text-align: center;
}
.error_msg {
  color: var(--highlight);
  margin-left: 2vw;
}
@media screen and (max-width: 745px) {
  body {
    --background_main: rgba(133, 117, 99, 0.8);
    --background_secondary: rgb(60,60,60);
    --background_details: rgba(209, 207, 206, 0.75);
    --highlight: rgb(126,67,29);
    --dark: rgb(60,60,60);
    --text_color: var(--dark);
    --text_alternate: rgb(210,210,210);
    --text_question: rgba(250,250,250,0.5);
    --highlight_button_text: rgb(235, 226, 221);
    --inactive_shadow: rgba(0,0,0,0.5);
    --blurry-background: rgba(160, 138, 122, 0.5);
    --active_shadow: rgba(0,0,0,0.7);
    --hire_me_text: rgba(99, 8, 185,0.7);
    background: var(--background_secondary);
    background-image: url(bg11sm.jpg);
    background-size: 1200px, cover;
    background-repeat: repeat-x;
  }
}
@media screen and (max-width: 500px) {
  body {
    background-size: 900px, cover;
    background-position: 20% 0%;
    font-size: min(1.8vh, 12px);
   }
  .blocktext {
    margin-left: min(5vw, 20px);
    width: max(50vw, 100px);
  }
  button {
    font-size: max(9px, 100%);
  }
}
@media screen and (min-width: 500px) {
  div.landing {
    text-align: left;
    margin: 5vw;
  }
  .sweep_right_landing {
    animation: fade-in 0.04s ease-in-out;
  }
  .sweep_left_landing {
    animation: fade-in 0.04s ease-in-out;
  }
}
@media screen and (min-width: 1200px) {
  body {
    background-size: 100vw, cover;
    background-position: 0% 0%;
   }
  .blocktext {
    margin-left: min(10vw, 50px);
    width: min(40vw, 300px);
  }
}
@keyframes sweep-details-from-left {
  0%    {opacity: 0; margin-left: -20vw}
  100%  {opacity: 1; margin-left: 0vw}
}
@keyframes fade-in {
  0%    {opacity: 0; margin-left: -10vw;}
  100%  {opacity: 1; margin-left: -10vw;}
}
@keyframes sweep-details-from-left-landing {
  0%    {opacity: 0; margin-left: -50vw}
  100%  {opacity: 1; margin-left: 0vw}
}
@keyframes sweep-details-from-right-landing {
  0%    {opacity: 0; margin-right: -50vw}
  100%  {opacity: 1; margin-right: 0vw}
}
@keyframes sweep-from-bottom {
  0%    {transform: translateY(100vh)}
  100%    {transform: translateY(-60px)}
}
::selection {
  color: var(--highlight); 
  background: var(--dark);
}
.details {
  color: var(--dark);
}
summary:focus{
  outline-style: none;
}
details[open] summary ~ * {
  animation: sweep-details-from-left 0.1s ease-in-out;
}
/* .details::first-letter {
  color: var(--text_color); 
  font-size: 120%;
  margin-left: 1em;
} */
 /* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE and Edge */
body {
  -ms-overflow-style: none;
}
.advertise_banner_container{
  background-color: var(--background_main);
  /* display: flex; */
  justify-content: center;
}
.advertise_banner {
  padding: 0.2vw;
  font-size: 90%;
  text-align: center
}
.advertise_banner_text a{
  color: var(--text_color);
}
.advertise_banner_text a:hover{
  color: var(--highlight);
}
@media screen and (min-width: 500px) and (max-height: 500px) {
  advertise_banner {
    font-size: 16px;
  }
}
@media screen and (max-height: 500px) {
  advertise_banner {
    font-size: 9px;
  }
}
.disclaimer {
  margin-left: 0px;
  padding: 0.5em 0.5em;
  font-size: 85%;
  color: var(--text_color);
  background-color: var(--active_shadow);
  border-radius: 4px;
}
#switch_content {
  animation: pulse 0.35s ease-in-out;
  animation-delay: 8s;
  animation-iteration-count: 2;
}
@keyframes pulse {
  0%    {font-size: 100%;}
  50%    {font-size: calc(104% - 0.02vw);}
  100%    {font-size: 100%;}
}
iframe.mini_map, div.mini_map {
  width: min(80vw, 400px);
  height: min(250px, 23vh);
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.27);
  border-radius: 0px;
  margin-top: -3em;
}
iframe.full_map{
  margin-left: 1vw;
  width: 95vw;
  height: 95vh;
  transform: translateY(-60px);
  background-color: rgba(70,70,70,0.7);
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.27);
  border-radius: 0px;
}
button.mini_map {
  position: relative;
  z-index: 10;
  background-color: rgb(255,255,255);
  font-size: 13px;
  bottom: -1em;
  right: -5em;
}
@media screen and (min-width: 500px) {
  iframe.mini_map, div.mini_map {
    height: 40vh;
    border-radius: 10px;
  }
  iframe.full_map {
    border-radius: 10px;
  }
  button.mini_map {
    bottom: -0.3em;
  }
}
@media screen and (max-height: 500px) {
  iframe.mini_map, div.mini_map {
    height: max(40vh, 200px);
    border-radius: 0px;
  }
  iframe.full_map {
    border-radius: 0px;
  }
  button.mini_map {
    bottom: -0.3em;
  }
}
.open_blank {
  display: inline-block;
}
.open_self {
  display: none;
}
hr.landing_spacing {
  height: max(7vh, 20px);
  clear: both;
  visibility: hidden;
}
hr.top_landing_spacing {
  height: 15vh;
  clear: both;
  visibility: hidden;
}
@media screen and (max-width: 500px) {
  .open_blank {
    display: none;
  }
  .open_self {
    display: inline-block;
  }
}
@media screen and (max-height: 500px) {
  .open_blank {
    display: none;
  }
  .open_self {
    display: inline-block;
  }
  hr.landing_spacing {
    height: 2vh;
  }
  hr.top_landing_spacing {
    height: 0vh;
  }
}
.navbar {
  margin-right: 3vw;
  margin-left: 3vw;
  width: 94vw;
  display: inline-block;
  font-size: 120%;
  color: black;
  text-decoration: none;
}
.navbar .links{
  float: right;
  color: black;
  text-decoration: none;
}
.navbar .title{
  float: left;
  color: black;
  text-decoration: none;
  text-shadow: 0.03em 0.03em 0.03em whitesmoke;
}
/* #search_container {
  width: 80vw; margin-left: 10vw; margin-right: 10vw; position: relative; z-index: 100000;
}
#locate {
  box-shadow: 0px 4px 10px 3px var(--inactive_shadow); width: 40vw; border-radius: 0.4em;
}
#search_spinner {
  text-align: right; position: relative; margin-left: -2em; color: var(--highlight);
} */
/* #search_spinner, #locate {
  font-size: 1.4vw;
} */
/* @media screen and (max-width: 500px) {
  #search_spinner, #locate {
    font-size: 12px;
  }
}
@media screen and (max-height: 500px) {
  #search_spinner, #locate {
    font-size: 12px;
  }
} */