<!DOCTYPE html>

<html>
<head>
  {% extends 'base.html' %}
  {% block head %}
  <!-- <meta http-equiv="refresh" content="10"> -->
  {% endblock %}
</head>
<body>
  {% block body %}
  <div class='landing'>
    <h2>Helping Ottawans find places for their dogs to spend some energy – on or off leash.</h2>
  </div>
  <hr class='top_landing_spacing'></hr>
  <div class='blocktext + sweep_right + FAQ'>
    <details><summary id='FAQ_main'>FAQ</summary>
    <ul>
      <details><summary>Why does it keep asking for my location?</summary>
      <ul>
        Some of this website's feautres require your device's location - that's just the way it is.
        If you're asking to show parks nearby or whether or not you can let your dog off leash, the site needs to know where you are.
        Otherwise, feel free to skip straight to the map, where you can browse all Ottawa parks without ever divulging your location.
      </ul>
      </details><br>
      <details><summary>I don't mind giving my location. Why isn't it working?</summary>
      <ul>
        If you're having a hard time with location services, please visit <a href="https://stroly.zendesk.com/hc/en-us/articles/360034274111-How-to-turn-on-Location-Services-GPS-">this guide</a> and come back once you're ready!
      </ul>
      </details><br>
      <details><summary>I found something wrong with the data. Can I report it?</summary>
      <ul>
        There's an upcoming feautre to allow you to report issues through this very app. Reports will go directly to the city. Please hang on to those details for now!
      </ul>
      </details><br>
      <details><summary>Why is some of the data erroneous?</summary>
      <ul>
        Most of the data comes straight from the City of Ottawa's Open Data API. The city updates its parks database on a regular basis and these changes automatically get reflected on this app. You can have a look at <a href='https://open.ottawa.ca/datasets/cfb079e407494c33b038e86c7e05288e_24'>their API</a> if you're curious.
      </ul>
      </details><br>
      <details><summary>Why are the <i>details</i> sections of some parks so unclear?</summary>
      <ul>
        Most of the text in the <i>details</i> sections comes directly City of Ottawa's Open Data API. To address the biggest source of confusion: the phrase "dogs allowed" means dogs can be <b>off leash</b>.
      </ul>
      </details><br>
    </ul>
    </details>
  </div>
  <div class='blocktext + sweep_right'>
    <br><br>
    <!-- <button onclick="window.open('https://open.ottawa.ca/datasets/cfb079e407494c33b038e86c7e05288e_24', '_blank', 'noopener')"><i class="fas fa-external-link-alt"></i>&nbsp;&nbsp;<b>dataset</b></button>
    <br><br> -->
    <button id='hire_me_button' class='white_button + direction_button' style='font-size: 90%; color: var(--hire_me_text)' onclick="show_hire_me()"><b>hire me :)</b></button>
      <div id='hire_me_container' style='display: none'>
        <div class="LI-profile-badge"  data-version="v1" data-size="medium" data-locale="en_US" data-type="vertical" data-theme="dark" data-vanity="alexroycv"><a class="LI-simple-link" href='https://ca.linkedin.com/in/alexroycv?trk=profile-badge'>Alex Roy</a></div>
      </div>
    <br>
    <button id='disclaimer_button' class='white_button + direction_button' style='font-size: 90%; color: var(--text_color)' onclick="show_disclaimer()"><b>disclaimer</b></button>
    <div id='disclaimer_container' style='display: none; width: 70% !important;'>
      <p class='disclaimer' style='width: 172% !important; color: whitesmoke;'>
        Please use common sense and good judgement when acting on information within
        this app. The Open Ottawa data could be out outdated and/or your device could
        be reporting inaccurate GPS data.
      </p>
    </div>
    <div id='disclaimer_placeholder' style='display: block'>
      <p class='blocktext + disclaimer' style='background-color: rgba(0,0,0,0);'>
        <br><br>
      </p>
    </div>
  </div>
  <script>
    function show_disclaimer() {  
      document.getElementById("disclaimer_container").style.display = 'inline';
      document.getElementById("disclaimer_button").style.display = 'none';
      document.getElementById("disclaimer_placeholder").style.display = 'none';
    }
    function show_hire_me() {  
      document.getElementById("hire_me_container").style.display = 'inline';
      document.getElementById("hire_me_button").style.display = 'none';
    }
  </script>
  {% endblock %}
</body>
</html>
