<!DOCTYPE html>

<html>
<head>
  {% extends 'base.html' %}
  {% block head %}
  <!-- <meta http-equiv="refresh" content="10"> -->
  {% endblock %}
</head>
<body>
  {% block body %}
  <div class='blocktext'>
    <button onclick="window.open('https://open.ottawa.ca/datasets/cfb079e407494c33b038e86c7e05288e_24', '_blank', 'noopener')"><i class="fas fa-external-link-alt"></i>&nbsp;&nbsp;<b>dataset</b></button>
    <br><br>
    <button id='hire_me_button' class='white_button + direction_button' style='font-size: 90%; color: var(--hire_me_text)' onclick="show_hire_me()"><b>hire me :)</b></button>
      <div id='hire_me_container' style='display: none'>
        <div class="LI-profile-badge"  data-version="v1" data-size="medium" data-locale="en_US" data-type="vertical" data-theme="dark" data-vanity="alexroycv"><a class="LI-simple-link" href='https://ca.linkedin.com/in/alexroycv?trk=profile-badge'>Alex Roy</a></div>
      </div>
    <br>
    <button id='disclaimer_button' class='white_button + direction_button' style='font-size: 90%; color: var(--text_color)' onclick="show_disclaimer()"><b>disclaimer</b></button>
    <div id='disclaimer_container' style='display: none; width: 70% !important;'>
      <p class='disclaimer' style='width: 172% !important;'>
        Please use common sense and good judgement when acting on information within
        this app. The Open Ottawa data could be out outdated and/or your device could
        be reporting inaccurate GPS data.
      </p>
    </div>
    <div id='disclaimer_placeholder' style='display: block'>
      <p class='blocktext + disclaimer' style='background-color: rgba(0,0,0,0);'>
        <br><br>
      </p>
    </div>
  </div>
  {% endblock %}
</body>
</html>
