<!DOCTYPE html>

<html>
<head>
    <title>OttLeash</title>
    <link href="{{ url_for('static',filename='style.css') }}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.13.0/css/all.css">
    <link rel="apple-touch-icon" sizes="128x128" href="static/mobile_icon.png">
    <link rel=icon href=/static/favicon.png>
    {% block head %}{% endblock %}
    <meta name="application-name" content="OttLeash">
    <meta name="keywords" content="Ottawa, Ontario, Canada, dog, leash, park, walk, play, run, hike, offleash, off leash, off-leash, discover, explore">
    <meta name="description" content="Helps Ottawans find places for their dogos to spend some energy – on or off leash.">
    <meta name="author" content="Alex Roy">
    <!-- <meta http-equiv="refresh" content="300"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap" rel="stylesheet">
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="navbar">
        <a class="title" href={{ url_for('index') }}>
            <img src="favicon.png" alt="" style='width: 1em; height: 1em;'>
            OttLeash
        </a>
        <a class="links" href={{ url_for('about') }}>about</a>
    </div>
    <div class="advertise_banner_container">
        <div class="advertise_banner">
            <span class="advertise_banner_text">
                <i class="fas fa-paw"></i> COVID-19 Pandemic <i class="fas fa-paw"></i>
            </span>
        </div>
        <div class="advertise_banner">
            <span class="advertise_banner_text">
                <b><a id="ad_link" href="https://ottawa.ca/en/health-and-public-safety/covid-19-ottawa/impacted-city-facilities-and-services#city-parks-and-amenities-are-now-closed-walkthroughs-permitted-only" target='_blank' rel='noopener'>
                    Find out how it impacts your leash habits.
                </a></b>
            </span>
        </div>
    </div>
    <br>
    {% block body %}
    {% endblock %}
</body>
</html>