<!DOCTYPE html>

<html>
<head>
    <link rel="manifest" href="manifest.json">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="OttLeash">
    <meta name="apple-mobile-web-app-title" content="OttLeash">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="msapplication-starturl" content="/">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/png" sizes="128x128" href="mobile_icon.png">
    <link rel="apple-touch-icon" type="image/png" sizes="128x128" href="mobile_icon.png">
    <title>OttLeash</title>
    <link href="{{ url_for('static',filename='style.css') }}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.13.0/css/all.css">
    <link rel=icon href=/static/favicon.png>
    <link rel="prefetch" href="templates/full_map.html">
    <link rel="prerender" href="{{ url_for('map') }}">
    {% block head %}{% endblock %}
    <meta name="application-name" content="OttLeash">
    <meta name="keywords" content="Ottawa, Ontario, Canada, dog, leash, park, walk, play, run, hike, offleash, off leash, off-leash, discover, explore">
    <meta name="description" content="Helping Ottawans find places for their dogs to spend some energy – on or off leash.">
    <meta name="author" content="Alex Roy">
    <!-- <meta http-equiv="refresh" content="300"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap" rel="stylesheet">
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="navbar">
        <a class="title" href={{ url_for('index') }} style="padding: 0.2em 0;">
            <img src="mobile_icon.png" alt="" style='float:left; width: 1.8em; height: 1.8em; border-radius: 0.3em; border: 0.12em solid black;'>
            <div style="float: left; padding: 0.3em 0em;">
                &nbsp;
                {% if self._TemplateReference__context.name.replace('.html', '') in ['index', 'about'] %}
                <span style="letter-spacing: 0.2em;">
                    OttLeash
                </span>
                {% else %}
                <span class='slow_fade_in'>
                    <- back
                </span>
                {% endif %}
            </div>
        </a>
        <a class="links" href={{ url_for('about') }} style="padding: 0.45em 0em 0em 0em;">about</a>
    </div>
    <div class="advertise_banner_container">
        <div class="advertise_banner">
            <span class="advertise_banner_text">
                COVID-19 updates: &nbsp &nbsp
                <a id="ad_link" href="https://ottawa.ca/en/health-and-public-safety/covid-19-ottawa/impacted-city-facilities-and-services#city-parks-and-amenities-are-now-closed-walkthroughs-permitted-only" target='_blank' rel='noopener'>
                    City of Ottawa
                </a>&nbsp
                <span>/</span>&nbsp
                <a id="ad_link" href="https://ncc-ccn.gc.ca/news/covid-19" target='_blank' rel='noopener'>
                    NCC
                </a>
            </span>
        </div>
    </div>
    {% block body %}
    {% endblock %}
</body>
</html>