<!DOCTYPE html>

<html>
<head>
    <title>OttLeash</title>
    <link href="{{ url_for('static',filename='style.css') }}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="apple-touch-icon" sizes="128x128" href="static/mobile_icon.png">
    <link rel=icon href=/static/favicon.png>
    {% block head %}{% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap" rel="stylesheet">
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
</head>
<body>
    <div class="advertise_banner_container">
        <div class="advertise_banner">
            <span class="advertise_banner_text">
                COVID-19 Changes Things!
            </span>
        </div>
        <div class="advertise_banner">
            <span class="advertise_banner_text">
                <b><a id="ad_link" href="https://ottawa.ca/en/health-and-public-safety/covid-19-ottawa/impacted-city-facilities-and-services#city-parks-and-amenities-are-now-closed-walkthroughs-permitted-only" target='_blank'>
                    Stay up to date on implication for your leash habits.
                </a></b>
            </span>
        </div>
    </div>
    {% block body %}
    {% endblock %}
</body>
</html>