<!DOCTYPE html>

<html>
<head>
  {% extends 'base.html' %}
  {% block head %}
  <!-- <meta http-equiv="refresh" content="10"> -->
  {% endblock %}
</head>
<body>
  {% block body %}
  <div class='landing'>
    <h2>
      Helping Ottawans find places for their dogs to spend energy – on or off leash.
    </h2>
  </div>
  <div class='landing + sweep_right'>
    <hr class='top_landing_spacing'></hr>
    <button class='landing_button + sweep_left_landing' onclick="window.open('{{ url_for('map') }}', '_self')">
      <i class="fas fa-map-marked-alt"></i> &nbsp Explore map
    </button>
    <hr class='landing_spacing'>
    <i class="fas fa-location-arrow"></i>&nbsp<span style='font-size: 110%;'>based on current location</span>&nbsp<i class="fa fa-hand-o-down"></i><br><br>
    <button class='landing_button + sweep_left_landing' onclick="window.open('{{ url_for('offleash') }}', '_self')">
      "Can my dog be off leash <u>here</u>?"
    </button>
    <br><br>
    <button class='landing_button + sweep_right_landing' onclick="window.open('{{ url_for('offleash', skip='True') }}', '_self')">
      "<u>Where</u> can I bring my dog?"
    </button>
  </div>
  {% endblock %}
</body>
</html>
