<!DOCTYPE html>

<html>
<head>
  {% extends 'base.html' %}
  {% block head %}
  <!-- <meta http-equiv="refresh" content="10"> -->
  {% endblock %}
</head>
<body>
  {% block body %}
  <br><br>
  <div align='center'>
    <button class='landing_button + sweep_left_landing' onclick="window.open('{{ url_for('offleash') }}', '_self')">
      "Can I take my dog off leash?"
    </button>
    <br><br><br><br>
    <button class='landing_button + sweep_right_landing' onclick="window.open('{{ url_for('offleash', skip='True') }}', '_self')">
      "Where should I bring my dog?"
    </button>
    <br><br><br><br>
    <button class='landing_button + fade_in_landing' onclick="window.open('{{ url_for('map') }}', '_self')">
      "Let me explore!"
    </button>
  </div>
  {% endblock %}
</body>
</html>
