<!DOCTYPE html>

<html>
<head>
  {% extends 'base.html' %}
  {% block head %}
  <!-- <meta http-equiv="refresh" content="10"> -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  {% endblock %}
</head>
<body>
  {% block body %}
  <div class='sweep_up' align='center'>
    <div style="width: 60vw; margin: auto; position: relative; z-index: 10000000000;font-size: 12px !important;">
      <form style="display: inline;" onsubmit="return refresh()">
        <input type="text" id="locate" name="locate" style='box-shadow: 0px 4px 10px 3px var(--inactive_shadow);'>
        <input type="submit" value='search' style="display: inline; padding: 0.05em 0.3em;">
      </form>
    </div>
    <iframe id='main_popup_map' src="{{ url_for('get_full_map') }}" class='full_map'></iframe>
  </div>
  <script>
    refresh = function() {
      var ifr = document.getElementById('main_popup_map');
      var locate = document.getElementById('locate').value;
      console.log(locate);
      ifr.src="{{ url_for('get_full_map') }}"+`?locate=${locate}`;
      return false;
    }
  </script>
  {% endblock %}
</body>
</html>
