<!DOCTYPE html>

<html>
<head>
  {% extends 'base.html' %}
  {% block head %}
  <!-- <meta http-equiv="refresh" content="10"> -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  {% endblock %}
</head>
<body>
  {% block body %}
  <div class='sweep_up' align='center'>
    <div id='search_container' style='width: 80vw; margin-left: 10vw; margin-right: 10vw; position: relative; z-index: 100000; transform: translateY(40px);'>
      <form style="display: inline;" action="" onsubmit="return refresh()">
        <input type="text" id="locate" name="locate" placeholder="park, address, or location" style="display: inline; box-shadow: 0px 4px 10px 3px var(--inactive_shadow); border-radius: 0.4em; font-size: calc(12px + 1vw);">
        <span id='search_spinner' style="display: none; text-align: right; position: relative; margin-left: -2em; color: var(--highlight); z-index: 100001; font-size: calc(12px + 1vw);"><i class="fas fa-asterisk fa-spin fa-fw"></i></span>
      </form>
    </div>
    <iframe id='main_popup_map' src="{{ url_for('get_full_map') }}" class='full_map' onload='map_loaded()'></iframe>
  </div>
  <script>
    refresh = function() {
      var ifr = document.getElementById('main_popup_map');
      var locate = document.getElementById('locate').value;
      document.getElementById('search_spinner').style.display='inline';
      ifr.src="{{ url_for('get_full_map') }}"+`?locate=${locate}`;
      return false;
    }
    map_loaded = function() {
      document.getElementById('search_spinner').style.display='none';
    }
  </script>
  {% endblock %}
</body>
</html>
