<!DOCTYPE html>

<html>
<head>
  {% extends 'base.html' %}
  {% block head %}
  {% endblock %}
</head>
<body>
    {% block body %}
    <br><br>    
    <div class='blocktext'>
      <h3>Can I take my dog off leash?</h3>
    </div>
    <br>
    <div class='blocktext + sweep_right'>
      <h1>
        <u>{{ 'Yes!' if permission else 'Nope.'}}</u>
      </h1>
    {% if park_name %}
    <br>
      <p>
        You are in <b>{{ park_name }}</b>.
      </p>
      <p>
        <i>{{ details }}</i>.
      </p>
    {% else %}
    <br>
      <p>
        You are not in a park! <br><br>
        Unless you're on private property and the owner
        advised you otherwise, your dog must remain on leash.
      </p>
    </div>
    {% endif %}
    <br><br>
    <div class='blocktext + fade_in' display='inline'>
      <button onclick="window.location.href='https://open.ottawa.ca/datasets/cfb079e407494c33b038e86c7e05288e_24'"><b>data source</b></button>
      <!-- Parks & Greenspace by Open Ottawa -->
      <br><br>
      <button onclick="window.location.href='https://ottawa.ca/en/recreation-and-parks/parks-and-green-space/dog-parks#map-dogs-parks'"><b>interactive map</b></button>
      <br><br>
      <button class='red_button' onclick="window.location.href='/offleash'"><b>check again</b></button>
    </div>
    {% endblock %}
</body>
</html>
