<!DOCTYPE html>

<html>
<head>
  {% extends 'base.html' %}
  {% block head %}
  {% endblock %}
</head>
<body>
    {% block body %}
    <br>
    <div style='height: 80vh; float: left'>
      <div class='blocktext + question'>
        <h3>Can I take my dog off leash?</h3>
      </div>
      <br>
      <div style="overflow: auto; direction: ltr; height: 80vh; width: 98vw">
        <div id='current_park'>
          <div class='blocktext + sweep_right'>
            <h1>
              <u>{{ 'Yes!' if permission else 'Nope.'}}</u>
            </h1>
          {% if park_name %}
            <p>
              You are in <b>{{ park_name }}</b>.
            </p>
            <p class='details'>
              <i>{{ details }}</i>.
            </p>
          {% else %}
            <p>
              You are not in a park! <br>
            </p>
            <p class='details'>
              Unless you're on private property and the owner
              advised you otherwise, your dog must remain on leash.
            </p>
          </div>
          {% endif %}
        </div>
        <div id='nearby' class='blocktext + sweep_right' style='display: none; font-size: 100%;'>
          <span style="font-size: 120%;"><u>offleash parks</u></span>
          {% for p in offleash_parks[:8] %}
          <details class='blocktext + sweep_right' style='margin-left: 3vw; margin-top: 0.6em; background-color: var(--blurry-background); border-radius: 1em; padding: 0.2em 0.8em;'>
            <summary> {{ p['attributes']['NAME'] }} </summary>
            <div class='details' style='margin-left: 2vw; margin-top: max(1vh, 6px); font-size: 92%'>
              {{ p['attributes']['DOG_DESIGNATION_DETAILS'] }}
              <br>
              <div align='center'>
              <button class='white_button + direction_button' style='font-size: 100%;' onclick="window.open('{{ p['attributes']['directions'] }}', '_blank')"><i class="far fa-map"></i>&nbsp;&nbsp;<b>directions</b></button>
              </div>
            </div>
          </details>
          {% endfor %}
          <br>
          <span class='blocktext + sweep_right' style="font-size: 120%;"><u>other nearby parks</u></span>
          {% for p in parks[:8] %}
          <details class='blocktext + sweep_right' style='margin-left: 3vw; margin-top: 0.6em; background-color: var(--blurry-background); border-radius: 1em; padding: 0.2em 0.8em;'>
            <summary> {{ p['attributes']['NAME'] }} </summary>
            <div class='details' style='margin-left: 2vw; margin-top: max(1vh, 6px); font-size: 92%'>
              {{ p['attributes']['DOG_DESIGNATION_DETAILS'] }}
              <br>
              <div align='center'>
              <button class='white_button + direction_button' style='font-size: 100%;' onclick="window.open('{{ p['attributes']['directions'] }}', '_blank')"><i class='fas fa-route'></i>&nbsp;&nbsp;<b>directions</b></button>
              </div>
            </div>
          </details>
          {% endfor %}
        </div>
        <div class='blocktext + fade_in' display='inline' style='width:50vw'>
          <br><br>
          {% if not park_name %}
          <div id='switch_content'>
            <button id='switch_content' class='white_button' onclick="display_nearby()"><i class="fas fa-list-ul"></i>&nbsp;&nbsp;<b>show nearby parks</b></button>
            <br><br>
          </div>
          {% endif %}
          <button onclick="window.open('https://open.ottawa.ca/datasets/cfb079e407494c33b038e86c7e05288e_24', '_blank')"><i class="fas fa-external-link-alt"></i>&nbsp;&nbsp;<b>data source</b></button>
          <br><br>
          <button onclick="window.open('https://ottawa.ca/en/recreation-and-parks/parks-and-green-space/dog-parks#map-dogs-parks', '_blank')"><i class="fas fa-external-link-alt"></i>&nbsp;&nbsp;<b>interactive map</b></button>
          <br><br>
          <button class='red_button' onclick="window.location.href='/offleash'"><i class="fas fa-redo"></i>&nbsp;&nbsp;<b>check again</b></button>
          <br><br>
          <button id='hire_me_button' class='white_button + direction_button' style='font-size: 90%; color: var(--hire_me_text)' onclick="show_hire_me()"><b>hire me :)</b></button>
            <div id='hire_me_container' style='display: none'>
              <div class="LI-profile-badge"  data-version="v1" data-size="medium" data-locale="en_US" data-type="vertical" data-theme="dark" data-vanity="alexroycv"><a class="LI-simple-link" href='https://ca.linkedin.com/in/alexroycv?trk=profile-badge'>Alex Roy</a></div>
            </div>
          <br>
          <button id='disclaimer_button' class='white_button + direction_button' style='font-size: 90%; color: var(--text_color)' onclick="show_disclaimer()"><b>disclaimer</b></button>
            <div id='disclaimer_container' style='display: none'>
              <!-- <i><img src='static/disclaimer.jpg'></img></i> -->
              <p class='blocktext + disclaimer'>
                Please use common sense and good judgement when acting upon information within 
                this app. The Open Ottawa data could be out outdated and/or your device could 
                be reporting inaccurate GPS data.
              </p>
            </div>
            <div id='disclaimer_placeholder' style='display: block'>
              <p class='blocktext + disclaimer' style='background-color: rgba(0,0,0,0);'>
                <br><br><br><br><br>
              </p>
            </div>
        </div>
      </div>
    </div>
  <script>
      function display_nearby() {  
        if (document.getElementById("nearby").style.display === 'none'){ 
          document.getElementById("nearby").style.display = 'inline';
          document.getElementById("current_park").style.display = 'none';
          // document.getElementById("switch_content").innerText = 'show current park';
          // document.getElementById("switch_content").style.fontFamily = "'Noto Sans', sans-serif";
          document.getElementById("switch_content").style.display = 'none';
        }else{
          document.getElementById("nearby").style.display = 'none';
          document.getElementById("current_park").style.display = 'inline';
          // document.getElementById("switch_content").textContent = 'show nearby parks';
        }  
      }

      function show_disclaimer() {  
          document.getElementById("disclaimer_container").style.display = 'inline';
          document.getElementById("disclaimer_button").style.display = 'none';
          document.getElementById("disclaimer_placeholder").style.display = 'none';
      }
      function show_hire_me() {  
          document.getElementById("hire_me_container").style.display = 'inline';
          document.getElementById("hire_me_button").style.display = 'none';
      }

      // Fetch all the details element.
      const details = document.querySelectorAll("details");

      // Add the onclick listeners.
      details.forEach((targetDetail) => {
        targetDetail.addEventListener("click", () => {
          // Close all the details that are not targetDetail.
          details.forEach((detail) => {
            if (detail !== targetDetail) {
              detail.removeAttribute("open");
            }
          });
        });
      }); 
  </script>
  {% endblock %}
</body>
</html>
