<!DOCTYPE html>

<html>
<head>
  {% extends 'base.html' %}
  {% block head %}
  {% endblock %}
</head>
<body>
    {% block body %}
    <div style='height: 80vh; float: left'>
      <div style="overflow: auto; direction: ltr; height: 80vh; width: 98vw">
        <div id='current_park'>
          <div class='blocktext + sweep_right'>
            <h1>
              {% if designation == 0 %}
                <u>Yes!</u>
              {% elif designation in [1, 4] %}
                <u>Nope.</u>
              {% elif designation == 2 %}
                <u>Read below</u>&nbsp;&nbsp;<i class="far fa-hand-point-down"></i>
              {% elif designation == 3 %}
                <u>Leave now!</u>&nbsp;&nbsp;<i class="fas fa-ban"></i>
              {% else %}
                N/A - Error - N/A
              {% endif %}
            </h1>
          {% if park_name %}
            <p>
              You are in <b>{{ park_name }}</b>.
            </p>
            <p class='details'>
              <i>{{ details }}</i>
            </p>
            <button align='centre' id="map_button_{{ lat }}" class='white_button + direction_button' style='font-size: 100%;' onclick="document.getElementById('map_container_{{lat}}').style.display = 'inline'; document.getElementById('map_button_{{lat}}').style.display = 'none';"><i class="far fa-map"></i>&nbsp;&nbsp;<b>map / trails</b></button>
            <div id="map_container_{{ lat }}" style='display: none;'>
              <button class='white_button + direction_button + mini_map' onclick="window.open('{{ url_for('get_mini_map', name=park_name, lat=lat, lng=lng, size=size) }}', '_blank', 'noopener')"><i class="fas fa-external-link-alt"></i></button>
              <iframe src="{{ url_for('get_mini_map', name=park_name, lat=lat, lng=lng, size=size) }}" class='mini_map' style='z-index: 2;'></iframe>
            </div>
          {% else %}
            <p>
              You are not in a City of Ottawa park!
            </p>
            <p class='details'>
              Unless you're on private property or NCC land and
              have been advised otherwise, your dog must remain on leash.
            </p>
          </div>
          {% endif %}
        </div>
        <div id='nearby' class='blocktext + sweep_right' style='display: none; font-size: 100%;'>
          <span style="font-size: 120%;"><u>offleash parks</u></span>
          {% for p in offleash_parks[:8] %}
          <details class='blocktext + sweep_right' style='margin-left: 3vw; margin-top: 0.6em; background-color: var(--background_details); border-radius: 0.4em; padding: 0.2em 0.8em;'>
            <summary> {{ p['attributes']['NAME'] }} </summary>
            <div class='details' style='margin-left: 2vw; margin-top: max(1vh, 6px); font-size: 92%'>
              {{ p['attributes']['DOG_DESIGNATION_DETAILS'] }}
              <br>
              <div align='center'>
                <button class='white_button + direction_button + open_self' style='font-size: 100%;' onclick="window.open('{{ p['attributes']['directions'] }}', '_self')"><i class="fas fa-route"></i>&nbsp;&nbsp;<b>directions</b></button>
                <button class='white_button + direction_button + open_blank' style='font-size: 100%;' onclick="window.open('{{ p['attributes']['directions'] }}', '_blank', 'noopener')"><i class="fas fa-route"></i>&nbsp;&nbsp;<b>directions</b></button>
              </div>
              <div align='center'>
                <button id="map_button_{{ p['attributes']['LATITUDE'] }}" class='white_button + direction_button' style='font-size: 100%;' onclick="document.getElementById('map_container_{{p['attributes']['LATITUDE']}}').style.display = 'inline'; document.getElementById('map_button_{{p['attributes']['LATITUDE']}}').style.display = 'none';"><i class="far fa-map"></i>&nbsp;&nbsp;<b>map / trails</b></button>
                <div id="map_container_{{ p['attributes']['LATITUDE'] }}" style='display: none'>
                  <iframe src="{{ url_for('get_mini_map', name=p['attributes']['NAME'], lat=p['attributes']['LATITUDE'], lng=p['attributes']['LONGITUDE'], size=p['attributes']['Shape_Area']) }}" class='mini_map'></iframe>
                </div>
              </div>
            </div>
          </details>
          {% endfor %}
          <br>
          <span class='blocktext + sweep_right' style="font-size: 120%;"><u>other nearby parks</u></span>
          {% for p in parks[:8] %}
          <details class='blocktext + sweep_right' style='margin-left: 3vw; margin-top: 0.6em; background-color: var(--background_details); border-radius: 0.4em; padding: 0.2em 0.8em;'>
            <summary> {{ p['attributes']['NAME'] }} </summary>
            <div class='details' style='margin-left: 2vw; margin-top: max(1vh, 6px); font-size: 92%'>
              {{ p['attributes']['DOG_DESIGNATION_DETAILS'] }}
              <br>
              <div align='center'>
                <button class='white_button + direction_button + open_self' style='font-size: 100%;' onclick="window.open('{{ p['attributes']['directions'] }}', '_self')"><i class="fas fa-route"></i>&nbsp;&nbsp;<b>directions</b></button>
                <button class='white_button + direction_button + open_blank' style='font-size: 100%;' onclick="window.open('{{ p['attributes']['directions'] }}', '_blank', 'noopener')"><i class="fas fa-route"></i>&nbsp;&nbsp;<b>directions</b></button>
              </div>
              <div align='center'>
                <button id="map_button_{{ p['attributes']['LATITUDE'] }}" class='white_button + direction_button' style='font-size: 100%;' onclick="document.getElementById('map_container_{{p['attributes']['LATITUDE']}}').style.display = 'inline'; document.getElementById('map_button_{{p['attributes']['LATITUDE']}}').style.display = 'none';"><i class="far fa-map"></i>&nbsp;&nbsp;<b>map / trails</b></button>
                <div id="map_container_{{ p['attributes']['LATITUDE'] }}" style='display: none'>
                  <iframe src="{{ url_for('get_mini_map', name=p['attributes']['NAME'], lat=p['attributes']['LATITUDE'], lng=p['attributes']['LONGITUDE'], size=p['attributes']['Shape_Area']) }}" class='mini_map'></iframe>
                </div>
              </div>
            </div>
          </details>
          {% endfor %}
        </div>
        <br><br>
        <div class='blocktext + fade_in' display='inline' style='width:50vw'>
          <br>
          {% if not park_name %}
          <div id='switch_content'>
            <button id='switch_content' class='white_button' onclick="display_nearby()"><i class="fas fa-list-ul"></i>&nbsp;&nbsp;<b>show nearby parks</b></button>
            <br><br>
          </div>
          {% endif %}
          <button onclick="window.open('https://open.ottawa.ca/datasets/cfb079e407494c33b038e86c7e05288e_24', '_blank', 'noopener')"><i class="fas fa-external-link-alt"></i>&nbsp;&nbsp;<b>dataset</b></button>
          <br><br>
          <button onclick="window.open('https://ottawa.ca/en/recreation-and-parks/parks-and-green-space/dog-parks#map-dogs-parks', '_blank', 'noopener')"><i class="fas fa-external-link-alt"></i>&nbsp;&nbsp;<b>interactive map</b></button>
          <br><br>
          <button class='red_button' onclick="window.location.href='{{ url_for('index')}}'"><i class="fas fa-redo"></i>&nbsp;&nbsp;<b>check again</b></button>
          <br><br>
          <button id='hire_me_button' class='white_button + direction_button' style='font-size: 90%; color: var(--hire_me_text)' onclick="show_hire_me()"><b>hire me :)</b></button>
            <div id='hire_me_container' style='display: none'>
              <div class="LI-profile-badge"  data-version="v1" data-size="medium" data-locale="en_US" data-type="vertical" data-theme="dark" data-vanity="alexroycv"><a class="LI-simple-link" href='https://ca.linkedin.com/in/alexroycv?trk=profile-badge'>Alex Roy</a></div>
            </div>
          <br>
          <button id='disclaimer_button' class='white_button + direction_button' style='font-size: 90%; color: var(--text_color)' onclick="show_disclaimer()"><b>disclaimer</b></button>
            <div id='disclaimer_container' style='display: none; width: 70% !important;'>
              <p class='disclaimer' style='width: 172% !important;'>
                Please use common sense and good judgement when acting on information within
                this app. The Open Ottawa data could be out outdated and/or your device could
                be reporting inaccurate GPS data.
              </p>
            </div>
            <div id='disclaimer_placeholder' style='display: block'>
              <p class='blocktext + disclaimer' style='background-color: rgba(0,0,0,0);'>
                <br><br><br>
              </p>
            </div>
        </div>
      </div>
    </div>
  <script>
      function display_nearby() {  
        if (document.getElementById("nearby").style.display === 'none'){ 
          document.getElementById("nearby").style.display = 'inline';
          document.getElementById("current_park").style.display = 'none';
          // document.getElementById("switch_content").innerText = 'show current park';
          // document.getElementById("switch_content").style.fontFamily = "'Noto Sans', sans-serif";
          document.getElementById("switch_content").style.display = 'none';
        }else{
          document.getElementById("nearby").style.display = 'none';
          document.getElementById("current_park").style.display = 'inline';
          // document.getElementById("switch_content").textContent = 'show nearby parks';
        }  
      }
      function show_disclaimer() {  
        document.getElementById("disclaimer_container").style.display = 'inline';
        document.getElementById("disclaimer_button").style.display = 'none';
        document.getElementById("disclaimer_placeholder").style.display = 'none';
      }
      function show_hire_me() {  
        document.getElementById("hire_me_container").style.display = 'inline';
        document.getElementById("hire_me_button").style.display = 'none';
      }

      // Fetch all the details element.
      const details = document.querySelectorAll("details");

      // Add the onclick listeners.
      details.forEach((targetDetail) => {
        targetDetail.addEventListener("click", () => {
          // Close all the details that are not targetDetail.
          details.forEach((detail) => {
            if (detail !== targetDetail) {
              detail.removeAttribute("open");
            }
          });
        });
      }); 
  </script>
  {% endblock %}
</body>
</html>
